{% extends "layout.html" %}
{% load bootstrap5 %}

{% block content %}
    <div class="row">
        {% for video in video_list %}
            <div class="col col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="card">
                    <a href="{% url 'catube:video_detail' video.pk %}">
                        <img src="{{ video.photo.url }}" class="w-100 card-img-top" />
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ video.title }}</h5>
                        <p class="card-text">
                            {{ video.description|truncatechars:30 }}
                            <div class="text-gray small">
                                조회수 : {{ video.view_count }}
                            </div>
                        </p>
                        <a href="{% url 'catube:video_detail' video.pk %}" class="btn btn-primary">
                            영상 보기
                        </a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="my-3">
        {% bootstrap_pagination page_obj justify_content="center" %}
    </div>
{% endblock %}
