{% extends "layout.html" %}
{% load bootstrap5 humanize %}

{% block content %}
    <div class="row">
        {% for video in video_list %}
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="card">
                    <a href="{% url 'catube:video_detail' video.pk %}" class="ratio ratio-16x9">
                        <img src="{{ video.photo.url }}" class="img-fluid card-img-top"
                             style="object-fit: cover;"
                        />
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-truncate">
                            {{ video.title }}
                        </h5>
                        <p class="card-text text-truncate">
                            {{ video.description|default:"&nbsp;"|truncatechars:30 }}
                        </p>

                        <div class="d-flex align-content-center justify-content-between">
                            <div class="text-gray small">
                                조회수 {{ video.view_count|intcomma }}회
                            </div>
                            {% if request.user.is_authenticated %}
                                {% if video.is_liked %}
                                    <span class="fa fa-heart text-danger"></span>
                                {% else %}
                                    <span class="fa fa-heart-o text-secondary"></span>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="my-3">
        {% bootstrap_pagination page_obj justify_content="center" extra=bootstrap_pagination_extra %}
    </div>
{% endblock %}
