{% extends "layout.html" %}

{% block content %}
    <h2>{{ user }}의 프로필</h2>

    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user.last_name }} {{ user.first_name }}</td>
            </tr>
            <tr>
                <th>Phone number</th>
                <td>{{ user.profile.phone_number }}</td>
            </tr>
            <tr>
                <th>Last login</th>
                <td>{{ user.last_login }}</td>
            </tr>
            <tr>
                <th>Date joined</th>
                <td>{{ user.date_joined }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{% url 'profile_edit' %}" class="btn btn-primary">
        프로필 수정
    </a>
{% endblock %}
