{% load bootstrap5 %}
<html>
<head>
    <meta charset="utf-8" />
    <title>Catube</title>

    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a href="{% url 'root' %}" class="navbar-brand">
                <i class="fa fa-youtube-play text-danger me-1"></i>
                CATUBE
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mb-2 mb-lg-0">
                    <a href="{% url 'catube:video_list' %}?liked=1" class="nav-link active" aria-current="page" href="#">
                        내가 좋아하는 비디오
                    </a>
                </div>

                <form action="{% url 'catube:video_list' %}" method="get" class="d-flex m-0 my-4 my-lg-0 mx-auto" novalidate>
                    <input type="text" class="form-control me-1" name="q" value="{{ q }}" />
                    {% if is_filter_liked %}<input type="hidden" name="liked" value="1" />{% endif %}
                    <input type="submit" value="검색" class="btn btn-danger" />
                </form>

                <div class="navbar-nav gap-1">
                    {% if user.is_authenticated %}
                        <a href="{% url 'catube:video_new' %}" class="btn btn-outline-danger">업로드</a>
                        <a href="{% url 'profile' %}" class="btn btn-outline-primary">프로필</a>
                        <a href="{% url 'logout' %}" class="btn btn-outline-success">로그아웃</a>
                    {% else %}
                        {% url 'login' as login_url %}
                        <a href="{{ login_url }}{% if login_url != request.path %}?next={{ request.path }}{% endif %}"
                           class="btn btn-outline-danger">로그인</a>
                        <a href="{% url 'signup' %}" class="btn btn-danger">회원가입</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="card">
            <div class="card-body">
                {% bootstrap_messages %}

                {% block content %}
                {% endblock %}
            </div>
        </div>

        <p class="py-3">
            &copy; 2022. Ask Company.
        </p>
    </div>
</body>
</html>
